:root {
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
}

body {
  min-height: 100vh;
  background: rgb(244, 244, 244);
  color: rgb(10, 10, 10);
  font-family: "Mozilla Text", sans-serif;
  margin: auto var(--space-lg);
}

fieldset {
  margin: 20px 10px;
}

label {
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid yellow;
}

#ratings-wrapper {
  display: flex;
  padding: 10px;
}

#ratings-wrapper input {
  margin: auto 30px auto 10px;
}

input[type="submit"] {
  font-size: 1.25em;
  margin-left: var(--space-lg);
}