:root {
  --primary-bg: #1E2E4E;
  --secondary-bg: #285A62;
  --accent: #FAC35A;
  --muted-bg: #DEDEE3;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Mozilla Text", sans-serif;
}



.accent-txt {
  color: var(--accent);
}

.one {
  width: 100px;
  height: 100px;
  background-color: 
}
.two {
  width: 100px;
  height: 100px;
  background-color: 
}
.three {
  width: 100px;
  height: 100px;
  background-color: 
}
.four {
  width: 100px;
  height: 100px;
  background-color: 
}

