:root {
  --primary-bg: #1E2E4E;
  --secondary-bg: #285A62;
  --accent: #FAC35A;
  --muted-bg: #DEDEE3;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Mozilla Text", sans-serif;
}

#header {
  display: flex;
  background-color: var(--primary-bg);

}

#nav-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
}

#nav-bar li {
  list-style: none;
  margin: auto 10px;
}

.accent-txt {
  color: var(--accent);
}

